@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Lato:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
font-family: hind, sans-serif, arial;
}

/* navigation menu */

nav {
    font-size: 110%;
    letter-spacing: 4px;
    
}

nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px; 
}
nav a {
    text-decoration: none;
    color: silver;
}
nav a:hover {
  border-bottom: 2px solid red;
}
.active {
    border-bottom: 1px solid red;
     }