@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Lato:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
font-family: hind, sans-serif, arial;
background-color: black;
color: white;
}

/* navigation menu */

nav {
    height: 30px;
    font-size: 110%;
    letter-spacing: 4px;
    
}

nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px; 
    margin-top:10px;
   
}
nav a {
    text-decoration: none;
    color: silver;

}
nav a:hover {
  border-bottom: 2px solid red;
}
.active {
    border-bottom: 1px solid red;
     }
     
/* Club name */


.clubname {
    height:240px;
    font-family: lato;
    text-align: center;
    font-size: 60px;
    margin-top:50px;
    letter-spacing: 1px;
    }

    #clubname-hr {
        background-color:red;
        width:33%;
        height:2px;
       margin:auto;
    }

#clubname-tagline {
    height:75px;
    font-family: hind;
    text-align: center;
    margin-top: 20px;
    
    }

    /* world map image */

    #world-map-image {
        height:auto;
        width: 100%;
        display: 90%;

    }