@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Lato:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    }

body {
    font-family: hind, sans-serif, arial;
    background-color: black;
    color: white;
    }

    
    
  

/* ....................navigation menu ....................*/


nav {
    height: 30px;
    font-size: 110%;
    letter-spacing: 2px;           
    }

    #nav-ul-list{
        display: flex;
        justify-content: end;
    }

nav li {
    
    list-style-type: none;
    margin-right: 30px; 
    margin-top:10px; 
    }
   
nav a {
    text-decoration: none;
    color: #E1E1E0;   
    }

nav a:hover {
    border-bottom: 2px solid red;
    color:white;
    }

.active {
    border-bottom: 1px solid red;
   
    }
  
     
 /* ..........................Club name section............................*/
    .clubname-container {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        }

    .clubname-h1 {
        height:80%;
        font-family: lato;
        text-align: center;
        font-size: 55px;
        letter-spacing: 1px;
        margin-top: 30px;  
    }

    #clubname-tagline {
        height:15%;
        font-family: hind;
        font-size: 22px;
        text-align: center;
        margin-top: 10px; 
        }

        .redline-hr {
            background-color:red;
            width:33%;
            height:2px;  
            margin-top: 30px;
            margin-bottom:40px;
        }   


        /* ........................world map image ...........................*/

    #map-outer {
        width:100%;
        overflow:hidden; 
    }

    #map-image {
        width:100%;

        /* animates zoom effect on loading page*/
        animation-name: hero-zoom;
        animation-duration: 8s;
        animation-fill-mode: forwards;
        }

    
        /* creates zoom for map of world*/
        @keyframes hero-zoom{
            from{
                transform: scale(1.1);
            }
            to {
                transform: scale(1); 
            }
        }
    

        .homepage-quote {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width:100%;
        }

        #quote {
            text-align: center;
            font-size: 20px;
            margin-top:40px;
            margin-bottom:30px;
        }

    
        /* .......................footer section................................*/

        .footer-contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
         }

         .footer-contact > p {
            color: #E1E1E0; 
            text-align: center;
            font-family: hind;
            font-size: 22px;
            margin-top:30px;
            margin-bottom:30px;
            }

         .contact:hover {
            color:#fff400;
           }

         .social-networks  {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
           }

        .social-networks  a {
            color:#E1E1E0;    
        }

        .social-networks > li {
        padding: 0px 25px;
        margin-bottom: 50px;
         }

        .social-networks i {
            font-size: 260%;
            padding: 10px;
            margin: 10px;
        }
        
        .social-networks i:hover {
            color:#fff400;
            
           }
           
           
      
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++About page+++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}
  
.flex-container > h2 {
    font-size: 28px;
    margin-top:40px; 
   }

   .flex-container > img {
    width: 530px;
    margin-bottom:20px; 
    margin-top:20px; 
    border-radius: 5px;
   }
        
   .flex-container > p {
    flex:auto;
    font-family: hind;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    max-width: 700px; 
    color:#E1E1E0;  
  
  }    

  .about-hr {
    background-color:red;
     width: 33%;
     height:2px;  
     margin-bottom:50px; 
     margin-top:45px; 
  }

  #tedxtalk {
    width: 700px;
    height: 400px; 
    margin-bottom: 60px;
  }

  #jkd-video {
    width: 700px;
    height: 400px; 
    margin-bottom: 60px;
  }

  .mkglogotext {
    box-shadow: 10px 10px 5px #8c8c8c;
  }



  
  .image-mkg-text-logo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}


  /*+++++++++++++++++++++++++++++++++++++++++++++Classes Page +++++++++++++++++++++++++++++++++++*/

  #timetable {
    width: 50vw;
    max-width: 600px;
    margin-top: 20px;
  }

   /* accordian interaction */
   .accordion-timetable > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }

  .accordion-timetable .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
  }

  .accordion-timetable > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
  }

  .accordion-timetable label {
    display: block;
    border-radius: 5px;
  }

  /* accordian styling */
  .accordion-timetable {
    margin-bottom: 1em;
  }

  .accordion-timetable > input[type="checkbox"]:checked ~ .content {
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-top: 0;
  }

  .accordion-timetable .day-h3 {
    font-family: hind;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
    }

    .accordion-timetable label {
        color: black;
        cursor: pointer;
        font-weight: normal;
        padding: 15px;
        background: silver;
      }

    .accordion-timetable label:hover,
    .accordion-timetable label:focus {
      background: #d8d8d8; 
    }

  .accordion-timetable .day-h3 label:before {
    font-family: hind;
    content: "\25B6";
    display: inline-block;
    margin-right: 10px;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
  }

  .accordion-timetable > input[type="checkbox"]:checked ~ .day-h3 label:before {
    content: "\262F";
  }

  .accordion-timetable {
    max-width: 65em;
  }

  .content {
    font-size: 20px;
  }

  .timetable-hr {
    color: #F90716;
    width: inherit;
    max-width: 600px;
    border-style: solid;
    border-width: 1px;
    margin-bottom:15px; 
    margin-top:5px; 
  }



  /*.classes-paragraphs {
    flex:auto;
     font-family: hind;
     font-size: 21px;
     margin-top: 40px;  
     width:50%;
     max-width: 800px;
     color:#E1E1E0;
 } */

 /*.classes-paragraphs > p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  */

  /* ..................free class form ....................*/


  #free-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 275px;
    font-size: 1.35rem;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url("/assets/images/image-free-class.PNG");
    background-repeat: no-repeat;
    background-size: fill;
    border: solid 3px #8c8c8c;
    margin-top: 20px;
    border-radius: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-inputs > input {
    margin: 15px 0 10px 0;
    font-size: 1.25rem;
    border-radius: 4px;
    padding:3px;
    background-color: white;
  }
  
  
  #free-class #submit {
    background-color:black;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 18px;
    font-size: 1.25rem;
    margin: 10px auto 10px auto;
    border: solid 4px yellow;
    display: block;
  }
  
  #free-class #submit:hover {
   border-color: yellow;
   color: yellow;
   cursor: pointer;
  }